body{
    background-image: url("https://img.freepik.com/foto-gratis/pared-ladrillo-negro-textura-fondo_53876-63572.jpg?w=1480&t=st=1665884869~exp=1665885469~hmac=8a576ba2a0a79fea446df2c07da2c6593151c8f0e8be31adf584ae4f749a4446");
}
.span-color{
    color: white;
}
.small-color{
    color: white;
}
.shopping-color{
    color: white;
}
.carrusel{
    color: white;
}
.carrito-text{
    color: white;
}